{% extends 'accounts/accounts_template.html' %}

{% block content %}

<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
            </div>



             <form class="custom-control" action="{% url 'accounts:login' %}" method="post">

                {% csrf_token %}
                {{ form }}
                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                 {% endif %}
                 <br>
               <center><input class="btn btn-primary" type="submit" value="Login"></center>
            </form>

            <!--<form method="post">-->
                <!--<div class="form-group">-->


                    <!--&lt;!&ndash;{% csrf_token %}&ndash;&gt;-->
                    <!--&lt;!&ndash;{{ form.as_p }}&ndash;&gt;-->


                <!--</div>-->
                <!--<div class="form-group">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<div class="custom-control custom-checkbox small">-->
                        <!--<input type="checkbox" class="custom-control-input" id="customCheck">-->
                        <!--<label class="custom-control-label" for="customCheck">Remember Me</label>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<a href="#" class="btn btn-primary btn-user btn-block">-->
                    <!--<button type="submit">Login</button>-->
                <!--</a>-->

            <!--</form>-->

            <hr>
            <div class="text-center">
                <a class="small" href="forgot-password">Forgot Password?</a>
            </div>
            <div class="text-center">
                <a class="small" href="signup">Create an Account!</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}