{% extends 'accounts/accounts_template.html' %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an account</h1>
            </div>

            <form class="custom-control" action="/accounts/signup" method="post">

                {% csrf_token %}
                {{ form }}

                <input class="btn btn-primary" type="submit" value="Register">

            </form>


            <!--Sign up form-->
            <!--<form method="post">-->
            <!--<div class="form-group">-->
            <!--{% csrf_token %}-->
            <!--{{ form.as_p }}-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<div class="custom-control custom-checkbox small">-->
            <!--<input type="checkbox" class="custom-control-input" id="customCheck">-->
            <!--<label class="custom-control-label" for="customCheck">Remember Me</label>-->
            <!--</div>-->
            <!--</div>-->
            <!--<a href="#" class="btn btn-primary btn-user btn-block">-->
            <!--<button type="submit">Login</button>-->
            <!--</a>-->
            <!--</form>-->

        </div>
    </div>
</div>


{% endblock %}