{% extends 'iotflash/base.html' %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Applications</h1>
    <p class="mb-4">
        View various applications page. Add applications. Seperate from devices.
    </p>
    <div>
        <a href="#" class="btn btn-dark btn-icon-split">
                    <span class="icon text-gray-600">
                      <i class="fas fa-arrow-right"></i>
                    </span>
            <span class="text">Create New Application</span>
        </a>
    </div>

    <br>

    <div class="row">
        <div class="col-lg-4">
            <!-- Dropdown Card Example -->
            <div class="card shadow mb-4">

                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary"><a href="{% url 'devices:details' %}"> Sensors </a> </h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <center><h4 class="align-items-center">Number of Devices:</h4></center>
                    <center><h3 class="align-items-center">3</h3></center>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->

{% endblock %}