{% extends 'iotflash/base.html' %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <h1 class="h3 mb-2 text-gray-800">Testing Page</h1>
    <p class="mb-4"></p>

    <div class="row">
        {% for humiditydevice in humdevs %}

                <div class="col-lg-4">
            <!-- Dropdown Card Example -->
            <div class="card shadow mb-4">

                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{{ HumidityDevice.device_name }}</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Options:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    Overview:
                    <br>
                    Date created: {{ HumidityDevice.created_at }}
                    <br>
                    Name: {{ HumidityDevice.device_name }}
                    <br>
                    Sensor: {{ HumidityDevice.sensor_type }}
                    <br>
                    Topic: {{ HumidityDevice.subbed_topic }}
                    <br>
                    Recent Humidity Level: {{ HumidityDevice.temp_level }}
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
</div>
<!-- /.container-fluid -->

{% endblock %}
