<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>Dashboard Placeholder</title>-->
<!--</head>-->
<!--<body>-->

{% extends 'iotflash/base.html' %}

{% block content %}
<div class="container-fluid">

    <h1 class="h3 mb-2 text-gray-800">Dashboard</h1>


    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-12 mb-4">

            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Senior Project</h6>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">Database Setup<span class="float-right">50%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="50"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">IotFlash Integration <span class="float-right">36%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 36%" aria-valuenow="36"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Graduation <span class="float-right">98%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" style="width: 98%" aria-valuenow="98"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Website Visualizations <span class="float-right">72%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 72%" aria-valuenow="72"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Senior Paper Rough Draft<span class="float-right">90%</span></h4>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 90%" aria-valuenow="90"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="devices">
        {% for humiditydevice in humdevs %}

        <div class="col-lg-4">
            <!-- Dropdown Card Example -->
            <div class="card shadow mb-4">

                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary"><a
                            href="{% url 'devices:details' devID=HumidityDevices.device_name %} ">{{
                        HumidityDevices.device_name }}</a></h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Options:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    Overview:
                    <br>
                    Date created: {{ HumidityDevice.created_at }}
                    <br>
                    Name: {{ HumidityDevice.device_name }}
                    <br>
                    Sensor: {{ HumidityDevice.sensor_type }}
                    <br>
                    Topic: {{ HumidityDevice.subbed_topic }}
                    <br>
                    Recent Humidity Percent: {{ HumidityDevice.humidity_percentage }}
                </div>
            </div>
        </div>

        {% endfor %}


        {% for tempdevice in tempdevs %}

        <div class="col-lg-4">
            <!-- Dropdown Card Example -->
            <div class="card shadow mb-4">

                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{{ TempDevice.device_name }}</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Options:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    Overview:
                    <br>
                    Date created: {{ TempDevice.created_at }}
                    <br>
                    Name: {{ TempDevice.device_name }}
                    <br>
                    Sensor: {{ TempDevice.sensor_type }}
                    <br>
                    Topic: {{ TempDevice.subbed_topic }}
                    <br>
                    Recent Temperature Level: {{ TempDevice.temp_level }}
                </div>
            </div>
        </div>

        {% endfor %}

    </div>

    {% endblock %}
</div>
<!--</body>-->
<!--</html>-->