{% extends 'iotflash/base.html' %}

{% block content %}


<div class="device-detail">
    <div class="">

        <h1>SolarHeating Company</h1>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Raspberry Pi 1</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Device Name</th>
                            <th>Device Location</th>
                            <th>Sensor Type</th>
                            <th>Subbed_Topic</th>
                            <th>Current Reading</th>
                            <!--<th> if sensor type is temp or hum then display templevel or humlevel </th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>RP01 {% if humiditydevice %} {{ humiditydevice.device_name }} {% endif %}</td>
                            <td>Elizabeth Hall</td>
                            <td>Temperature</td>
                            <td>Temp_Eliz</td>
                            <td>70 degrees</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Raspberry Pi 2</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Device Name</th>
                            <th>Device Location</th>
                            <th>Sensor Type</th>
                            <th>Subbed_Topic</th>
                            <th>Current Reading</th>
                            <!--<th> if sensor type is temp or hum then display templevel or humlevel </th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>RP02 {% if humiditydevice %} {{ humiditydevice.device_name }} {% endif %}</td>
                            <td>Elizabeth Hall</td>
                            <td>Temperature</td>
                            <td>Temp_Eliz</td>
                            <td>70 degrees</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Raspberry Pi 3</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Device Name</th>
                            <th>Device Location</th>
                            <th>Sensor Type</th>
                            <th>Subbed_Topic</th>
                            <th>Current Reading</th>
                            <!--<th> if sensor type is temp or hum then display templevel or humlevel </th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>RP03 {% if humiditydevice %} {{ humiditydevice.device_name }} {% endif %}</td>
                            <td>Elizabeth Hall</td>
                            <td>Temperature</td>
                            <td>Temp_Eliz</td>
                            <td>70 degrees</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}