{% extends 'iotflash/base.html' %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">Table below displays devices user has access to: </p>

        <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Devices</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Device Name</th>
                        <th>Device Location</th>
                        <th>Sensor Type</th>
                        <th>Subbed_Topic</th>
                        <!--<th> if sensor type is temp or hum then display templevel or humlevel </th>-->
                    </tr>
                    </thead>
                    <tfoot>
                        <th>Device Name</th>
                        <th>Device Location</th>
                        <th>Sensor Type</th>
                        <th>Subbed_Topic</th>
                        <!--<th> if sensor type is temp or hum then display templevel or humlevel </th>-->
                    </tfoot>
                    <tbody>
                    <tr>
                        <td>RP01 {% if humiditydevice %} {{ humiditydevice.device_name }} {% endif %}</td>
                        <td>Elizabeth Hall</td>
                        <td>Temperature</td>
                        <td>Temp_Eliz</td>
                    </tr>
                    <tr>
                        <td>RP02</td>
                        <td>Elizabeth Hall</td>
                        <td>Humidity</td>
                        <td>Hum_Eliz</td>
                    </tr>
                    <tr>
                        <td>RP03</td>
                        <td>Sampson Hall</td>
                        <td>Temperature</td>
                        <td>Samp_Temp</td>
                    </tr>
                     <tr>
                        <td>RP04</td>
                        <td>Elizabeth Hall</td>
                        <td>Temperature</td>
                        <td>Temp_Eliz</td>
                    </tr>
                    <tr>
                        <td>RP05</td>
                        <td>Sampson Hall</td>
                        <td>Humidity</td>
                        <td>Hum_Samp</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <h1 class="h3 mb-2 text-gray-800">Users</h1>
    <p class="mb-4">Table below displays users: </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Users</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Company</th>
                        <th>Email</th>
                        <th>Level of Access</th>
                    </tr>
                    </thead>
                    <tfoot>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Company</th>
                        <th>Email</th>
                        <th>Level of Access</th>
                    </tfoot>
                    <tbody>
                    <tr>
                        <td>{{ user.first_name}} {{ user.last_name }}</td>
                        <td>{{ user.username }}</td>
                        <td>IoTFlash</td>
                        <td>{{ user.email }}</td>
                        <td>Superuser</td>
                    </tr>
                    <tr>
                        <td>Walter Scarte</td>
                        <td>WScarte</td>
                        <td>HumidBlackHole</td>
                        <td>wscarte@humidblackhole.co</td>
                        <td>Admin</td>
                    </tr>
                    <tr>
                        <td>Gery Cotte</td>
                        <td>GCotte</td>
                        <td>HumidBlackHole</td>
                        <td>gcotte@humidblackhole.co</td>
                        <td>User</td>
                    </tr>
                    <tr>
                        <td>Elis Rodra</td>
                        <td>ERodra</td>
                        <td>SolarHeating</td>
                        <td>erodra@solarheating.co</td>
                        <td>Admin</td>
                    </tr>
                    <tr>
                        <td>Ryla Warders</td>
                        <td>RWarders</td>
                        <td>SolarHeating</td>
                        <td>rwarders@solarheating.co</td>
                        <td>User</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

{% endblock %}
