{% extends 'iotflash/base.html' %}

{% block content %}


<div class="device-detail">
    <div class="">

        <h1>test test test</h1>
        <h2> <!-- if device is a humidity device use humidity model -->
            {% if HumidityDevices %} {{ HumidityDevices.device_name }}
            <!-- else if device is a temp device use temp model -->
            {% elif TempDevices %} {{ TempDevices.device_name }}
            <!-- end statement -->
            {% endif %}</h2>

        <p></p>
        <p></p>

    </div>
</div>


{% endblock %}