{% extends 'iotflash/base.html' %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <h1 class="h3 mb-2 text-gray-800">Profile Settings</h1>

</div>
<!-- /.container-fluid -->

{% endblock %}
