<head><title>Details</title></head>
<p>ID: {{node.id}}</p>
<p>Name: {{node.name}}</p>
<p>Mac: {{node.mac_address}}</p>

<p>Change the name of this node:</p>

{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'main:changename' node.id %}" method="post">
	{% csrf_token %}
	<input type="text" name="nodename" id="nodename" />
	<input type="submit" value="Change Name" />
</form>
